<html>
  <head>
    <title>QA</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      <object data="/chat/student"></object><br />
      <object data="/chat/trainer" height="700"></object>
  </body>
</html>