<!DOCTYPE html>
<html>
<head>
    <title>TX101</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/index.js" defer></script>
    <script src="/MyTimer.js"></script>
    <link href="/index.css" rel="stylesheet" />

</head>
<body>
    <div class="grid-container">
        <div class="header">
            <div class="qaLogo"> <img src="/qa_logo.svg" /> </div>
            <div id="course_title"></div>
            <h3 id="trainer"></h3>
        </div>
      <div id="timer_container">
        <qa-timer id="qaTimer"></qa-timer> 
      </div>

        <div class="passwords">
            <emoji>&#128218</emoji>
            <a id="material" href="" target="_blank">
                Course material
            </a>
            <button id="mimeo" onclick="mimeo()">Mimeo</button> 
            <button name="passwords" onclick="copy(courseData.password1)">Copy email</button>
            <button name="passwords" onclick="copy(courseData.password2)">Copy password</button>
            <button name="passwords" onclick="copy(courseData.password3)">Copy access code</button>
        </div>
        <div class="pcs">
            <ol id="pcs"></ol>
            <div style="display: flex">
                <textarea rows="7" id="txtArea"></textarea>
            </div>
        </div>

        <div class="afa">
            <button onclick="afa()">Copy WebEx</button>
            <select id="cboMessages"></select>
            <a href="https://signin.qa.com/" target="_blank">Sign</a>
            <h3 id="webcam"><img src="/webcam.svg" /> Please turn your webcam on 😊</h3>
        </div>

        <div class="students"><object id="studentMessages" data="/chat/student"></object></div>
        <div class="messages">
            <div class="MessagesDiv">
                <object data="/chat/trainer" height="550" width="100%"></object>
            </div>
        </div>
    </div>
</body>
</html>
