<!DOCTYPE html>
<html>
<head>
    <title>QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/MyTimer.js"></script>
    <link href="/morning.css" rel="stylesheet" />
    <script src="/morning.js" defer></script>
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <div class="qaLogo"> <a href="/"><img src="qa_logo.svg" /></a></div>
            <div id="course_title"></div>
            <h3 id="trainer"></h3>
        </div>
        <div id="timer_container">
          <qa-timer id="qaTimer"></qa-timer> 
        </div>
        <div class="pcs">
            <ol id="pcs"></ol>
            <div style="display: flex">
                <textarea rows="2"  id="txtArea"></textarea>
            </div>
            <h2 class="camText"><img src="webcam.svg" /> Please turn your webcam on 😊</h2>
          <div>
      <div class="greetings">
        <span>Good morning </span>
        <span>Buongiorno   </span>
        <span>Bonjour      </span>
        <span>Guten Morgen </span>
        <span>शुभ प्रभात</span>
        <span>早上好</span>
        <span>Доброе утро  </span>
        <span>صباح الخير</span>
        <span>おはよう</span>
    </div>
</body>
</html>
