<!DOCTYPE html>
<html>
<head>
    <title>QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/MyTimer.js"></script>
    <link href="/index.css" rel="stylesheet" />
    </head>
      <div id="timer_container">
        <qa-timer id="qaTimer"></qa-timer> 
      </div>
    </div>
</body>
</html>
